@using Fusonic.Extensions.Email.Tests.Models

<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
</body>
</html>

@code 
{
    [Parameter]
    public required RazorSubjectTestEmailComponentModel Model { get; init; }
}